<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712117420823-bed9ttd31gvr6kfd7vrrp3i9vqkkevir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712117420823-bed9ttd31gvr6kfd7vrrp3i9vqkkevir</string>
	<key>API_KEY</key>
	<string>AIzaSyB13MKVnY7GQO3m7PqwaybDBnzFCcgRdmY</string>
	<key>GCM_SENDER_ID</key>
	<string>712117420823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Qalab.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b78f7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b78f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712117420823:ios:71727c46aa052d66942d52</string>
</dict>
</plist>